.nav-tabs{
	border-bottom: none;
	.nav-item{
		.active{
			border-bottom: 2px solid $marine-blue;
			&:hover{
				border-bottom: 2px solid $marine-blue;
			}
		}
		.nav-link{
			border-left:none;
			border-top:none;
			border-right:none;
		}
		a{
			color: $grey-text-main-panel;
			font-weight: 500;
			&:hover{
				border-bottom-color: white;
				color: black;
			}
		}
	}
	i{
		font-size: 20px;
	}
}