.table{
	td{
		vertical-align: middle;
		text-align: left;
		font-size: 13px;
		border-color: #cccaca;
	}
	.td-actions{
		display: flex;
	}
	button{
		padding: 10px;
		margin: 0 3px;
	}
	.fa{
		font-size: 15px;
	}
	th{
		border-color: #cccaca;
	}

}

th{
	font-weight: 400;
	text-transform: uppercase;
	font-size: 13px;
	color:$grey-text-main-panel;
	
}


.first{
	tr{
		th{
			border:none;
		}
	}
}

.padding-none{
	padding:0 !important;
}
