.pagination{
	li{
		border: 1px solid $input-grey;
		margin: 0 2px;
		padding: 0.35em 0.9em;
		border-radius: 50%;
		transition: 0.2s ease;
		a{
			text-decoration: none;
			color: #797979;
			font-size: 14px;
		}
		&:hover{
			background: $input-grey;
		}
	}
	.active{
		background-color: $info-color;
		a{
			color: white;
		}
	}
}
.no-border{
	li{
		border: none;
	}
}