@media (max-width: 1200px){
    .info{
        margin-right: 0;
    }
    .input-group{
        input{
            width: 380px !important;
        }
    }
}

@media (min-width: 992px){

    body > .navbar-collapse.collapse{
        display: none !important;
    }

    .table-full-width{
        margin-left: -15px;
        margin-right: -15px;
    }
    .table-responsive{
        overflow: visible;
    }

    .navbar-nav p{
        line-height: normal;
        margin: 0;
    }

    .main-panel{
        .caret{
            position: absolute;
            left: 80%;
            top: 45%;
            margin-left: 0;
        }
    }
}

/*          Changes for small display      */

@media (max-width: 991px){


    .sidebar{
        display: none;
    }

    .main-panel{
        width: 100%;
    }
    .navbar-transparent{
        padding-top: 15px;
        background-color: rgba(0, 0, 0, 0.45);
    }
    body {
         position: relative;
    }
    .wrapper{
       @include transform-translate-x(0px);
       @include transition (0.33s, cubic-bezier(0.685, 0.0473, 0.346, 1));
       left: 0;
       background-color: white;
    }
    .navbar .container{
         left: 0;
          width: 100%;
         @include transition (0.33s, cubic-bezier(0.685, 0.0473, 0.346, 1));
         position: relative;
    }
    .navbar .navbar-collapse.collapse,
    .navbar .navbar-collapse.collapse.in,
    .navbar .navbar-collapse.collapsing{
        display: none !important;
    }

    .navbar-nav > li{
        float: none;
        position: relative;
        display: block;
    }

    body > .navbar-collapse {
        position: fixed;
        display: block;
        top: 0;
        height: 100%;
        width: 260px;
        right: 0;
        left: auto;
        z-index: 1032;
        visibility: visible;
        background-color: white;
        overflow-y: visible;
        border-top: none;
        text-align: left;
        padding: 0;
        padding-bottom: 100px;


        @include transform-translate-x(260px);
        @include transition (0.33s, cubic-bezier(0.685, 0.0473, 0.346, 1));
        > ul {
            position: relative;
            z-index: 4;
            overflow-y:scroll;
            height: calc(100vh - 61px);
            width: 100%;
        }

        i{
            color: $grey-text-main-panel;
        }
        .dropdown-menu{
            li{
                a{
                    color: $grey-text-main-panel;
                     &:hover{
                        color: $logo-gray;
                    }
                }
            &:hover{
                background: white;
                }
            }
        } 
        .logo{
            position: relative;
            z-index: 4;
            border-bottom: 1px solid rgba(236, 236, 236, 0.7);
        }

        .nav li > a{
            padding: 10px 15px;
        }
    }
    .nav-open .navbar-collapse{
        @include transform-translate-x(0px);
    }
    .nav-open .navbar .container{
        left: -250px;
    }
    .nav-open .wrapper{
        left: 0;
        @include transform-translate-x(-260px);
    }
    .navbar-toggle .icon-bar {
          display: block;
          position: relative;
          background: #fff;
          width: 24px;
          height: 2px;
          border-radius: 1px;
          margin: 0 auto;
    }

    .navbar-header .navbar-toggle {
        margin: 10px 15px 10px 0;
        width: 40px;
        height: 40px;
    }
   

    @include topbar-x-rotation();
    @include topbar-back-rotation();
    @include bottombar-x-rotation();
    @include bottombar-back-rotation();

    @-webkit-keyframes fadeIn {
      0% {opacity: 0;}
      100% {opacity: 1;}
    }
    @-moz-keyframes fadeIn {
      0% {opacity: 0;}
      100% {opacity: 1;}
    }
    @keyframes fadeIn {
      0% {opacity: 0;}
      100% {opacity: 1;}
    }

    .dropdown-menu .divider{
        background-color: rgba(229, 229, 229, 0.15);
    }

    .dropdown-menu {
        display: none;
        &:before,
        &:after{
            content: none;
        }
    }
    .navbar-fixed-top {
        -webkit-backface-visibility: hidden;
    }
    #bodyClick {
        height: 100%;
        width: 100%;
        position: fixed;
        opacity: 0;
        top: 0;
        left: auto;
        right: 250px;
        content: "";
        z-index: 9999;
        overflow-x: hidden;
    }

    .social-line .btn{
        margin: $margin-bottom;
    }
    .subscribe-line .form-control{
        margin: $margin-bottom;
    }
    .social-line.pull-right{
        float: none;
    }
    .footer nav.pull-left{
        float: none !important;
    }
    .footer:not(.footer-big) nav > ul li{
        float: none;
    }
    .social-area.pull-right{
        float: none !important;
    }
    .form-control + .form-control-feedback{
        margin-top: -8px;
    }
    .navbar-toggle:hover,.navbar-toggle:focus {
        background-color: transparent !important;
    }
    .btn.dropdown-toggle{
        margin-bottom: 0;
    }
    .media-post .author{
        width: 20%;
        float: none !important;
        display: block;
        margin: 0 auto 10px;
    }
    .media-post .media-body{
        width: 100%;
    }

    .navbar-collapse.collapse{
        height: 100% !important;
    }
    .navbar-collapse.collapse.in {
        display: block;
    }
    .navbar-header .collapse, .navbar-toggle {
        display:block !important;
    }
    .navbar-header {
        float:none;
    }
    .navbar-nav .show .dropdown-menu {
        position: static !important;
        transform: translate3d(0, 0, 0) !important;
        float: none;
        width: auto;
        margin-top: 0;
        background-color: transparent;
        border: 0;
        -webkit-box-shadow: none;
        box-shadow: none;
        font-size: 12px;
        margin:0;
        li{
            margin:0;
            padding:10px 15px;
            a{
            text-transform: capitalize;
            }
        }
    }

    .navbar-collapse{
        .nav p{
            font-size: $font-size-base;
            margin: 0;
            margin-left: 0;
        }

        [class^="pe-7s-"]{
            float: left;
            font-size: 20px;
            margin-right: 10px;
        }
        li.separator{
            width: 100%;
            margin: 30px 0 !important;
            border-top: 1px solid rgba(123, 123, 123, 0.3);
        }
    }

      .table-responsive {
        width: 100%;
        margin-bottom: 15px;
        overflow-x: scroll;
        overflow-y: hidden;
        -ms-overflow-style: -ms-autohiding-scrollbar;
        -webkit-overflow-scrolling: touch;
    }

    .input-group{
        margin-left: 5px;
        border-bottom: 1px solid rgba($grey-text-main-panel,0.1);
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
        width: 95%;
        input{
            width: 195px !important;
            padding: 0;
        }
        .form-control{
            color: $logo-gray;
        }
        .form-control::-moz-placeholder{
           @include placeholder(rgba($grey-text-main-panel,0.4));
        }
        .form-control:-moz-placeholder{
           @include placeholder(rgba($grey-text-main-panel,0.4));
        }  
        .form-control::-webkit-input-placeholder{
           @include placeholder(rgba($grey-text-main-panel,0.4)); 
        } 
        .form-control:-ms-input-placeholder{
           @include placeholder(rgba($grey-text-main-panel,0.4));
        }
    }
}



@media (min-width: 768px){
    form{
        [class*="col-md"]{
        padding: 6px;

        &:first-child{
            padding-left: 15px;
        }
        &:last-child{
            padding-right: 15px;
        }
        }
    }

    .final-footer{
        nav{
            float: left;
        }

        p{
            float: right;
        }
    }
}

@media (max-width: 768px){
    .final-footer{
        nav{
            margin-bottom: 20px;
        }
    }
}

@media (min-width: 576px){
    .text-green{
        float: left;
    }

    .text-blue{
        float: right;
    }
}
@media (max-width: 480px){
    body{
        font-size: 12px;
    }
}

