.checkbox{
	> input[type="checkbox"]{
		opacity: 0;
	}
}

.checkbox_icon{
	@extend %icon;
	position: absolute;
	font-size: 20px;
	color: #d4cfcf;
	top: 50%;
	transform: translateY(-50%);
	@extend .icon--check-empty;

	input[type="checkbox"]:checked ~ &{
		color:#26b4ec;
		@extend .icon--check;
		&:hover{
			color: #26b4ec;
		}
	}

	input[type="checkbox"]:hover ~ &{
		color: #d4cfcf;
		@extend .icon--check;
	}
}

%icon:before{


font-family: "FontAwesome";
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon--check:before {
	content: "\f046";
}
.icon--check-empty:before {
	content: "\f096";
}


.td-actions{
	.btn-simple, .btn-xs{
	padding:10px 3px;
	}

	[class*="fa"]{
		font-size: 12px;
		opacity: .5;
	}

	.fa-times{
		color: red;
	}

	.fa-edit{
		color: #0093ff;
	}

	.btn-info:focus,
	.btn-danger:focus,
	.btn-info:active,
	.btn-danger:active{
		border-color: white;
	}
	
}

tr:hover [class*="fa"]{
		opacity: 1;
		transition: 0.3s ease;
	}

