$black-color-top:			#787878;
$black-color-bottom:		#343434;

$blue-color-top:			#4087ea;
$blue-color-bottom:			#533ce1;

$azure-color-top:			#45c0fd;
$azure-color-bottom:		#4091ff;

$green-color-top:			#a1eb3a;
$green-color-bottom:		#6dc030;

$orange-color-top:			#ffb33b;
$orange-color-bottom:		#ff5221;

$red-color-top:				#ff3b30;
$red-color-bottom:			#bb0502;

$purple-color-top:			#df55e1;
$purple-color-bottom:		#943bea;

$pink-color-top:			#ff2a63;
$pink-color-bottom:			#ff2e2e;


$new-blue:			#1DC7EA;
$new-purple:		#9368E9;
$new-green:			#87CB16;
$new-orange:		#ffcf94;
$new-dark-blue:		#1F77D0;
$new-black:			#5e5e5e;
$light-black:       #333333;

$card-green:		#35b351;
$card-purple:		#ce95d6;
$card-blue:			#58a7bf;	


$navbar-padding-a:				10px 15px;


$border-radius-extreme: 		10px !default;


$dropdown-shadow:		  1px 2px 3px rgba(0, 0, 0, 0.125);

$default-color:			#888888;
$default-states-color:	#777777;		

$primary-color:              #6b6fe4 !default;
$primary-bg:                 #6b6fe4 !default;
$primary-states-color:       #1D62F0 !default;

$success-color:              #87CB16 !default;
$success-bg:                 #87CB16 !default;
$success-states-color:       #049F0C !default; 

$info-color:                 #1dc7ea !default;
$info-bg:                    #1dc7ea !default;
$info-states-color:          lighten($info-color, 8%) !default;

$warning-color:              #FF9500 !default;
$warning-bg:                 #FF9500 !default;
$warning-states-color:       #ED8D00 !default;


$danger-color:               #FB404B !default;
$danger-bg:                  #FB404B !default;
$danger-states-color:        #EE2D20 !default;
//dot-buttons colours

$text-purple: 			#bf00fe;
$text-red:				#fe0000;
$text-red-light:		#c0504d;
$text-green-light:		#9bbb59;	
$text-pink:				#f190db;

$grey-text-main-panel:  #9A9A9A;
$input-grey:			#d4d4d4;
$dark-gray:				#9A9A9A;
$medium-gray:			#DDDDDD;
$smoke-bg:				#F5F5F5;
$light-gray:			#E3E3E3;
$logo-gray:				#565454;
//alert colors

$marine-blue:			#4cbaeb;


$transparent-bg:		transparent;

$border-thin: 			1px;
$border-thick:			2px;

$font-weight-light:		300;
$font-weight-normal:	400;
$font-weight-semi:		500;
$font-weight-bold:		600;

$padding-base-vertical:		8px;
$padding-base-horizontal:	16px;

$padding-round-vertical:        9px !default;
$padding-round-horizontal:     18px !default;

$padding-simple-vertical:      10px !default;
$padding-simple-horizontal:    18px !default;

$padding-large-vertical:       14px !default;
$padding-large-horizontal:     30px !default;

$padding-small-vertical:        5px !default;
$padding-small-horizontal:     10px !default;

$padding-xs-vertical:           1px !default;
$padding-xs-horizontal:         5px !default;

$padding-label-vertical:        2px !default;
$padding-label-horizontal:     12px !default;

$margin-large-vertical:        30px !default;
$margin-base-vertical:         15px !default;

$btn-round-radius:			30px;

$font-size-base:               14px !default;
$font-size-small:              12px !default;
$font-size-medium:             16px !default; 
$font-size-large:              18px !default;
$font-size-large-navbar:       20px !default;

$border-radius-small:           3px !default;
$border-radius-base:            4px !default;
$border-radius-large:           6px !default;
$border-radius-extreme:        10px !default;

$white-color:				#FFFFFF;
$white-bg:					#FFFFFF;

$line-height:					20px;
$line-height-general:          1.5 !default;

$padding-social-a:		10px 5px;

$font-size-h1:                 3.7em !default;
$font-size-h2:                 2.57em !default;
$font-size-h3:                 2em !default;
$font-size-h4:                 1.57em !default;
$font-size-h5:                 1.14em!default;
$font-size-h6:                 1em !default;
$font-paragraph:               1.14em !default;
$font-size-navbar:             1.14em !default;
$font-size-small:              0.85em !default;

$height-base:				2.85em;

$slow-transition-time:           370ms !default;
$transition-bezier:         cubic-bezier(0.34, 1.61, 0.7, 1) !default;

$dropdown-coordinates:      29px -50px !default;

$topbar-back:          topbar-back !default;
$bottombar-back:       bottombar-back !default;
$topbar-x:             topbar-x !default;
$bottombar-x:          bottombar-x !default;

$margin-bottom:                0 0 10px 0 !default;

$top-blue-gradient:			#5557c7;
$bottom-blue-gradient:		#336ffe;

$top-lightblue-gradient:			#1dc7ea;
$bottom-lightblue-gradient:			#d9f2f7;

$top-purple-gradient:				#bf00fe;
$bottom-purple-gradient:			#e9d3ec;

$top-pink-gradient:				#f190db;
$bottom-pink-gradient:			#ffe2f9;

$top-orange-gradient:				#ff9500;
$bottom-orange-gradient:			#ffe9ca;

$top-green-gradient:				#84dc56;
$bottom-green-gradient:				#c2e8c5;

$general-transition-time:  300ms !default;

$slow-transition-time:           370ms !default; 

$fast-transition-time:           150ms !default;

$transition-linear:                                   linear !default;
$transition-bezier:         cubic-bezier(0.34, 1.61, 0.7, 1) !default;
$transition-ease:           ease 0s;
$ultra-fast-transition-time:     100ms  !default;
$transition-ease-in:              ease-in !default;
$transition-ease-out:             ease-out !default;